#brand-academia {
    font-size: 36px;

    
}
.hoveric:hover {
    color: #056812;
}

.fa-clock {
    color: #fff;
    margin-top: 15px;
}

.text-sm {
    font-size: 16px;
}

.fix {
    width: 800px;
    height: 700px;
    position: static;
    image-rendering: optimizeQuality;
    margin-right: -200px;
    margin-top: 10px;
    
    
    
}
.img-fix {
    position: static;
    width: 100%;
    height: 100%;
    
    padding: 0;
}

.second-nav {
    margin-left: 200px;
    width: 1500px;
    height: 80px;
    padding: 0;
    background: rgba(255, 255, 255, 0.253);
    
}

.get-btn {
    height: 80px;
    width: 200px;
    margin-left: 520px;
    border-radius: 0;
}

.two {
    width: 100%;
    height: 850px;
}

.img-section-two {
    width: 90%;
    height: 100%;
    image-rendering: optimizeQuality;
    
}

.hov:hover {
    color: #10bddb;
    

    .col-md-2 {
        .fa-solid {
            color: #fff;
        }
    }
}

.three {
    background-image: url(/images/bg_3.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    image-rendering: optimizeQuality;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.three .section-element{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.three .section-element i{
    font-size: 60px;
    margin-right: 15px;
}
.three .section-element .texts h2{
    font-size: 40px;
}

.three .section-element .texts span{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
.header {
    text-align: center;
    color: #1EB2A6;
}

.card-icon {
    background-size: contain;
    align-items: center;
    background-color: #1EB2A6;
    width: 23.5%;
    border-radius: 50px;
    padding: 4.5px;
    color: #fff;
    display: inline;
    
    
    margin: 10px;
    margin-top: 14px;


}

.card-p {
    display: inline;
    margin-left: 100px;
    font-weight: 500;
}

